body {
    background-color: rgba(67, 120, 170, 0.63);
    text-align: center;
    font-family: "Fantasy", "Courier New", monospace;
    color: white;
}

h1 {
   color: #09151fbd
}

h2 {
    color: #09151fbd;
}

table {
    box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000,
     -12px 19px 31px 13px rgba(0,0,0,0);
    margin:auto;
    border: 2px solid white;
    height: 700px;
    width: 700px;

}

td {
    border: 1px solid white;
    height: 50px;
    width: 50px;
}

.hidden {
    background-color: rgba(30, 30, 78, 0.726);
}

.hidden:hover {
    background-color: rgba(148, 121, 121, 0.493);
}

.timer {
    box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000,
     -12px 19px 31px 13px rgba(0,0,0,0);
    background-color:#09151fbd;
    height: 60px;
    width: 150px;
    position:fixed;
    left: 30px;
    top: 30px;
    border-radius: 8px;
    color: rgb(255, 255, 255);
    display: inline-block; 
    text-align: center;
}

button {
    box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000,
     -12px 19px 31px 13px rgba(0,0,0,0);
    height: 50px;
    width: 100px;
    border: none;
    border-radius: 5px;
    background-color: #09151fbd;
    color: white;
    cursor: pointer;
    margin-left: 2px;
}